<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pg_community_android">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".PgApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".functionalities.login.LoginActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".functionalities.welcome.WelcomeActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation|screenSize" />

        <activity
            android:name=".functionalities.register.RegisterActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation|screenSize" />

        <activity
            android:name=".functionalities.profile.ProfileActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation|screenSize" />

    </application>
</manifest>